<tr class="totals custom_total excl">
    <th class="mark" scope="row" >
        <span class="label" >summary/custom_total.html</span>
    </th>
</tr>
<!-- ko if: isDisplayed() -->
<tr class="totals custom_total excl">
    <th class="mark" scope="row" data-bind="text: title">
        <span class="label" data-bind="text: title"></span>
        <span class="value" data-bind="text: getValue()"></span>
    </th>
    <td class="amount">
        <span class="price" data-bind="text: getValue(), attr: {'data-th': title}"></span>
    </td>
</tr>
<!-- /ko -->
